*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  background-color: gray;
}



/* sidebar styling */
.sidebar{
  width: min(300px, 50vw);
  border: solid 1px white;
  min-height: 100vh;
}
.tabs > div{
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}


/*dialog box styling */
.tasks-dialog{
  margin: auto;
  width: min(500px, 80%);
  min-height: 600px;
  padding: 50px;
  border-radius: 20px;
}
.task-priority-div{
  display: flex;
}
.task-priority-div > div {
  margin: 5px;
}
.task-desc-div > textarea {
  width: 100%;
  resize: vertical;
}

